.App {
  text-align: center;
}

input {
  margin-left: 10px;
}

.roomName {
  padding-left: 8%;
  padding-top: 1%;
  text-align: left;
  font-size: 2em;
}

#dungeonStats {
  width: 18%;
  padding-top: 10%;
  text-align: right;
  display: inline-block;
}

.Main {
  padding: 20;
  display: inline-block;
  width: 70%;
  height: 600px;
}

svg {
  fill:blue;
  stroke-width:15;
  stroke: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}